<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subscribe</title>
</head>
<body>

<p th:text="${user.name}"></p>

<div id="userEntry" >
    <form th:object="${user}"
          method="post">
        <input type="hidden" id="id" name="id" th:value="*{id}">


        <table>
            <thead>
            <tr>
                <th>Subscription</th>
                <th>Email</th>
                <th>Whatsapp</th>
                <th>SMS</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="sub, itemStat : *{subscriptions}">
                <td th:text="*{subscriptions[__${itemStat.index}__].name}"><input type="hidden" th:field="*{subscriptions[__${itemStat.index}__].user?.id}"/></td>
                <td>
                    <input type="hidden" th:field="*{subscriptions[__${itemStat.index}__].name}"/>
                    <input type="hidden" th:field="*{subscriptions[__${itemStat.index}__].user.id}"/>
                    <input type="checkbox" th:field="*{subscriptions[__${itemStat.index}__].email}" />
                </td>
                <td><input type="checkbox" th:field="*{subscriptions[__${itemStat.index}__].whatsapp}" /></td>
                <td><input type="checkbox" th:field="*{subscriptions[__${itemStat.index}__].sms}" /></td>
            </tr>
            </tbody>
        </table>
        <br>
        <br>
        <input type="submit">

    </form>
</div>

</body>
</html>